// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <winuser.h>
#include <winresrc.h>
/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_TILE_IMAGE          BITMAP                  "tileimage.bmp"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 300, 250, 189, 189
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Register"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,7,168,50,14
    PUSHBUTTON      "取消",IDCANCEL,132,168,50,14
    LTEXT           "UserName：",IDC_UN,20,30,42,8
    EDITTEXT        IDC_EDIT1,74,28,77,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,73,65,77,14,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "PassWord：",IDC_PW,19,68,41,8
    EDITTEXT        IDC_EDIT3,74,99,77,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "PhoneNum：",IDC_PN,21,101,43,8
    LTEXT           "Email：",IDC_EMAIL,23,138,25,8
    EDITTEXT        IDC_EDIT4,67,134,92,14,ES_AUTOHSCROLL
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOG1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 182
        TOPMARGIN, 7
        BOTTOMMARGIN, 182
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

